@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-normal">Welcome</h1>
</div>

<div class="alert alert-warning" role="alert">
    <strong Holy Guacamole?</strong> You should check in on some of those field below.
</div>
